.Form_Login {
  width: 50%;
  margin-top: 70px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}


.Form_Login > input, button {
  display: block;
  margin: 15px;
  padding: 10px;
}

.div_submit_btn {
  display: flex;
  justify-content: center;
}

.submit_btn{
  width: 20%;
  background-color: rgb(57, 186, 229);
  color: white;
  border: rgb(57, 186, 229);
  transition: 0.5s;
}

.submit_btn:hover{
  background-color: rgb(97, 202, 237);
  color: black;
  cursor: pointer;
}