            /* ---------------Register component -----------------*/


/* Register block forms*/
.Login_and_register{
    background-image: url('../../images/Log_register_images/forest.jpg');
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}


.Forms{
    position: absolute;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: auto;
    background-color: white;
    height: auto;
}


.buttons_autorization{
    display: flex;
    justify-content: space-around;
}



.Login_btn, .Register{
    width: 50%;
    transition: 0.5s;
    text-align: center;
    padding: 10px 10px;
}

/* Classes for toggled buttons */

.Login_btn{
    width: 50%;
    transition: 0.5s;
    text-align: center;
    background-color: green;
    padding: 10px 10px;
}


.Login_btn_no_color{
    width: 50%;
    transition: 0.5s;
    text-align: center;
    background-color: white;
    padding: 10px 10px;
}


.Register{
    width: 50%;
    transition: 0.5s;
    text-align: center;
    background-color: green;
    padding: 10px 10px;
}


.Register_btn_no_color{
    width: 50%;
    transition: 0.5s;
    text-align: center;
    background-color: white;
    padding: 10px 10px;
}
/**************************/
.Forms > hr{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 2px;
    background-color: black;
}

.Login_as_pupil{
    width: 60%;
    margin-top: 110px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.Login_as_pupil > hr{
    margin-top: 35px;
}