select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: var(--background);
  background-image: none;
  padding: 10px;
  width: 222px;
  color: white;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  overflow: hidden;
  border-radius: .25em;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.select:hover::after {
  color: black;
  cursor: pointer;
}

.select::after {
  content: '\25BC';
  position: absolute;
  margin-left: 180px;
  top: -2px;
  padding: 10px 15px 10px 15px;
  background: var(--background);
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
  color: white;
}



.RegisterWrapper{
  width: 50%;
  margin-top: 45px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.RegisterWrapper>hr {
  margin-top: 35px;
}