select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: var(--background);
  background-image: none;
  padding: 10px;
  width: 222px;
  color: white;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  overflow: hidden;
  border-radius: .25em;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.select:hover::after {
  color: black;
  cursor: pointer;
}

.select::after {
  content: '\25BC';
  position: absolute;
  margin-left: 180px;
  top: -2px;
  padding: 10px 15px 10px 15px;
  background: var(--background);
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
  color: white;
}



.RegisterWrapper{
  width: 50%;
  margin-top: 45px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.RegisterWrapper>hr {
  margin-top: 35px;
}


.error_block{
  font-size: 14px;
  color: red;
  margin-left: 18px;
  opacity: 1;
}

.error_block_hidden{
  font-size: 14px;
  color: red;
  margin-left: 18px;
  opacity: 0;
}


.error_border{
  border: 1px solid red;
}
.error_border_normal{
  border: 1px solid black;
}




/* ============= Loader ================*/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fcf;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
