
body{
  padding: 0;
  margin: 0;
}



/*==========Main page============*/

.Main{
  max-width: 100%;
}

.Main_page{
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(29, 140, 29, 0.822);
  overflow: hidden;
}

.picture{
  max-width: 100%;
  height: auto;
}


.image-position-1{
  position: absolute;
  transform: translateY(-500px);

}


.image-position-2{
  position: absolute;
  transform: translateX(-1200px);

}


.image-position-3{
  position: absolute;
  transform: translate3d(-1500px, 500px, 0);
  
}


.image-position-4{
  position: absolute;
  transform: translate3d(1500px, 500px, 0);

  
}


.image-position-5{
  position: absolute;
  transform: translateX(2000px);

 
}

.image-position-6{
  position: absolute;
  transform: translateY(2000px);


}

.animation_left{
  animation-name: image_left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
}

.animation-left-down{
  animation-name: image-left-down;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
}

.animation-right-down{
  animation-name: image-right-down;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
}

.animation-top{
  animation-name: image_top;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
}

.animation-down{
  animation-name: image_down;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
}

.animation-right{
  animation-name: image_right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes image_right {
  from{
      transform: translateX(2000px);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes image_down {
  from{
      transform: translateY(2000px);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes image_left {
  from{
      transform: translateX(-1200px);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes image_top {
  from{
      transform: translateY(-500px);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes image-left-down{
  from{
    transform: translate3d(-1500px, 500px, 0);
}
to{
  transform: translate3d(0,0,0);
}}

@keyframes image-right-down{
  from{
    transform: translate3d(1500px, 500px, 0);
}
to{
  transform: translate3d(0,0,0);
}}



/*===================Main page =============*/


/*================Circles=====================*/
.circles{
  position: absolute;
  z-index: 10;
}


.circle_1{
  max-height: 600px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50% , 0);
  opacity: 0;
  transition: 0.5s linear;
}


.circle_2{
  opacity: 0;
  height: 180px;
  transition: 0.5s linear;
}


.showed{
  opacity: 0.1;
}

.circle-position-1{
  top: -50px;
  right: -50px;
}


.circle-position-2{
  height: 80px;
  right: 130px;
  top: 130px;
}



.circle-position-3{
  bottom: -50px;
  left: -50px;
}

.circle-position-4{
height: 80px;
left: 130px;
bottom: 130px;
}


/*=============Circles==============*/


.main-block-info{
  background-color: transparent;
  width: 900px;
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}

.main-page-title{
  color: #ffffff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
}


.main-page-subtitle-block{
  opacity: 0;
  transition: 2s ease-in;
}

.show-subtitle-block{
  opacity: 1;
}

.main-page-subtitle{
  color: #36AF17;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 40px;
}

.main-page-button{
  background-color: #ffffff;
  padding: 15px 40px;
  border-radius: 15px;
  overflow: hidden;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: 0;
  margin: 0 auto;
  transition: 0.4s ease-in-out;
}


.main-page-button:hover{
  color: #ffffff;
  background-color: rgb(23, 110, 9);


}