.aboutUs{
    
    width: 100%;
    background-color: #194605;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 30px 0 20px;
    text-align: center;
}


.aboutUs-flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.flex-block-left{
    width: 45%;
    padding: 0 15px;
    box-sizing: border-box;
    margin-right: 20px;
    
    text-align: center;
}

.about-image-title{
    font-size: 20px;
    margin-bottom: 30px;
    color: #ffffff;
}

.about-image{
    max-width: 100%;
}

.flex-block-right{
    width: 40%;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
}

.about-text-info{
    margin-bottom: 40px;
}

.about-text-top-title{
    font-size: 36px;
    margin-bottom: 20px;
}



.about_us_arrow{
    width: 50px;
    cursor: pointer;
    
}