.SubjectTopicPage{
  width: 100%;
  height: 100vh;
  background-image: url('../../../images/UserPageImages/mathematic.png');
  background-position-x: 50%;
  background-position-y: 50%;
  /* background-repeat: no-repeat; */
}

header{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding-top: 20px;
}

.Topics{
  width: 50%;
  margin: 0 auto;
}

.Topics h3{
  font-size: 35px;
  color: yellow;
}

.TopicName{
  display: flex;
  justify-content: space-between;
}

.dropDownImage{
  display: flex;
  align-items: center;
}

.dropDownArrow{
  transition: 0.5s;
  cursor: pointer;
}

.dropDownArrowRotated{
  transform: rotate(-90deg);
  transition: 0.5s;
  cursor: pointer;
}
/* ===========================  DropDown show or not  ================================*/
.dropDown{
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 1s;
  opacity: 0;
  overflow: hidden;
  height: 0px;
}

.dropDownShow{
  height: 70px;
  opacity: 1;
  transition: 1s;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

hr{
  color: white;
  height: 2px;
  background-color: white;
}

/*=========================  Topic Content   ================================*/

.TopicsContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonCircle{
  display: flex;
}

.buttonCircle > button{
  padding: 0px 20px 0px 20px; 
}

.circle{
  display: flex;
  align-items: center;
  border: 10px solid yellow;
  border-radius: 50%;
  padding: 8px;
}